.city {
    display: flex;
    background-color: #f3f3f3;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 0.5rem;
    & i {
      font-size: 1.5rem;
    }
  }
