@use "../utils/mixins.scss";
  
  .explore {
    text-align: center;
  & h2 {
    font-size: 1.5rem;
  }
  & p {
    font-size: 1rem;
  }
  & button {
    color:white;
    font-weight: 300;
    font-size: 1.2rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: 200ms;
    margin-top: 1rem;
    @include mixins.base-shadow;
    @include mixins.gradient(0.9);
  }
  & button:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }
}