@use "../utils/variables";
@use "../utils/colors.scss";
@use "../utils/mixins.scss";

.menus {
    background-color: #f6f6f6;
    padding: 1rem;
   
.menus__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        @media (max-width: variables.$breakpoint) {
         grid-template-columns: repeat(1, 1fr);
        }
        .new {
            position: relative;
        }
        .new::before {
            content:"Nouveau";
            position:absolute;
            height: 2rem;
            width: 5rem;
            background-color: colors.$color-tertiary;
            color: darken(colors.$color-tertiary, $amount: 40%);
            display: grid;
            place-items: center;
            top: 1.5rem;
            right: 1.5rem;
            font-size: 0.8rem;
            font-weight: 600;
        }
    }
    .cards {
        &__image {   
        object-fit: cover;
        object-position: center;
        height: 15rem;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        }
        &__description {
            position: relative;
            background-color: white;
            border-radius: 0 0 1rem 1rem;
           
            h3 {
                padding: 0.5rem 0 0 0.5rem;
            }
            p {
                padding: 0 0 0.5rem 0.5rem;
            }
            i {
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
            .fas {
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 200ms ease-in-out;
                @include mixins.gradient(1);
            }
            &:hover .fas {
                opacity: 1;
                transform: translateY(-50%) scale(1.2);
            }
        }
    }
}
