@use "../utils/variables";
.menus {
    background-color: #f6f6f6;
   
.menus__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        @media (max-width: variables.$breakpoint) {
         grid-template-columns: repeat(1, 1fr);
        }
    }
    .cards {
        &__image {
        background-image: url("./assets/menu-1.jpg");
        background-size: cover;
        height:15rem;
        border-radius: 1rem;
        }
        @for $i from 1 through 4 {
            &__image-#{$i} {
                background-image: url("../../assets/menu-#{$i}.jpg");
            }
        }
    }
}
