@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main a {
  padding: 1rem;
}

h2,
h3,
h4,
h5,
h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.1rem;
  position: relative;
}

.city {
  display: flex;
  background-color: #e4e4e4;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}
.city i {
  font-size: 1.5rem;
}
.city h2 {
  font-size: 1rem;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.explore {
  background-color: #f3f3f3;
  text-align: center;
  padding: 2rem;
  margin: 0;
}
.explore h2 {
  font-size: 1.5rem;
  margin: 1rem;
}
.explore p {
  font-size: 1rem;
}
.explore button {
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 7px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  font-size: 1rem;
}
.explore button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  opacity: 0.9;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: disappear 200ms 2s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 80px;
  width: 80px;
  border-top: 7px solid #9356dc;
  border-right: 7px solid transparent;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.list {
  counter-reset: steps;
  margin: 2rem 1rem 2rem 1rem;
}
.list ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .list ol {
    flex-direction: column;
  }
}
.list li {
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.3rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 2px 1px 7px -3px #7e7e7e;
}
.list li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: -1rem;
  transform: translateY(50%);
}
.list li:hover {
  transform: scale(1.02);
  cursor: pointer;
  background-color: #f2eafb;
}
.list li:hover i::before {
  color: #9356dc;
}
.list li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
}

.menus {
  background-color: #f6f6f6;
  padding: 1rem;
}
.menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .menus__cards .new {
  position: relative;
}
.menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #278870;
  display: grid;
  place-items: center;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.menus .cards__image {
  object-fit: cover;
  object-position: center;
  height: 15rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.menus .cards__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.menus .cards__description h3 {
  padding: 0.5rem 0 0 0.5rem;
}
.menus .cards__description p {
  padding: 0 0 0.5rem 0.5rem;
}
.menus .cards__description i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .cards__description .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.menus .cards__description:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}
footer i {
  margin-right: 0.5rem;
}

#back header:hover::before {
  transform: scale(1.2);
}
#back header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  left: 1rem;
  top: 40%;
  font-size: 20px;
  transition: transform 200ms;
}

.banner {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

.resto__title {
  position: relative;
  margin-top: -3rem;
  border-radius: 3rem 3rem 0 0;
  background-color: #f3f3f3;
}
.resto__title h2 {
  font-family: "shrikhand", "sans-serif";
  padding: 2rem;
}
.resto__title i {
  position: absolute;
  right: 1.5rem;
  top: 55%;
  transform: translateY(-50%);
}
.resto__title .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.resto__title:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
  cursor: pointer;
}

.resto-main {
  background-color: #f3f3f3;
  padding: 1rem;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menu h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.menu h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99e2d0;
}
.menu .menus__category {
  overflow: hidden;
}
.menu .menus__category .menu-items {
  background-color: white;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
  box-shadow: 2px 1px 7px -3px #7e7e7e;
  animation: appear 1s;
  animation-fill-mode: both;
}
.menu .menus__category .menu-items:nth-child(2) {
  animation-delay: 200ms;
}
.menu .menus__category .menu-items:nth-child(3) {
  animation-delay: 300ms;
}
.menu .menus__category .menu-items:nth-child(4) {
  animation-delay: 400ms;
}
.menu .menus__category .menu-items .menu-items__description {
  padding: 1rem;
  overflow: hidden;
}
.menu .menus__category .menu-items .menu-items__description h4,
.menu .menus__category .menu-items .menu-items__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menus__category .menu-items .menu-items__price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
}
.menu .menus__category .menu-items .menu-items__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  background-color: #99e2d0;
  width: 4rem;
  margin-right: -4rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
}
.menu .menus__category .menu-items .menu-items__check i {
  display: grid;
  place-items: center;
  background: white;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  color: #99e2d0;
}
.menu .menus__category .menu-items:hover {
  cursor: pointer;
}
.menu .menus__category .menu-items:hover .menu-items__check {
  margin-right: 0;
}
.menu .menus__category .menu-items:hover i {
  animation: quarter-spin 0.5s ease-in-out;
}
@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

.order {
  height: 15vh;
  display: grid;
  place-items: center;
}
.order button {
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 7px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
