@use "../utils/mixins.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";
@use "../utils/animations.scss";

#back { 
header { 
    &:hover::before {
        @include mixins.zoom($zoom-level: 1.2,);
    }
        &::before {
    @include mixins.font-awesome(900);
    content: "\f060";
    left: 1rem;
    top: 40%;
    font-size: 20px;
    transition: transform 200ms;
        }   
    }
}
.banner {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

.resto__title {
    position: relative;
    margin-top: -3rem;
    border-radius: 3rem 3rem 0 0;
    background-color: darken(colors.$lighter-grey,1%);
    h2 {
    font-family: "shrikhand", "sans-serif";
    padding: 2rem;
    }
    i {
        position: absolute;
        right: 1.5rem;
        top: 55%;
        transform: translateY(-50%);
    }
    .fas {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
        @include mixins.gradient(1);
    }
    &:hover .fas {
        opacity: 1;
        transform: translateY(-50%) scale(1.2);
        cursor: pointer;
    }
}
.resto-main {
    background-color: darken(colors.$lighter-grey,1%);
    padding: 1rem;
    }
.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width: variables.$breakpoint) {
    grid-template-columns: repeat(1, 1fr);
}
h3 {
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    margin-bottom: 1rem;
    margin-left: 1rem;
    &::after {
        content: "";
        position: absolute;
        top: 1.5rem;
        left: 0;
        height: 0.25rem;
        width: 3rem;
        background-color: colors.$color-tertiary;
    }
}
.menus__category {
    overflow: hidden;
   
    .menu-items {
        @for $i from 2 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms * $i;
            }
        }
        background-color: white;
        display: flex;
        border-radius: 1rem;
        overflow: hidden;
        margin: 1rem;
        @include mixins.box-shadow;
        animation: appear 1s;
        animation-fill-mode: both;
       .menu-items__description {
        padding: 1rem;
        overflow: hidden;
        h4,
        p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        }
       }
        .menu-items__price {
            display: flex;
            align-items: flex-end;
            margin-left: auto;
            font-weight: 900;
            padding: 1rem;
        }
        .menu-items__check {
            display: grid;
            place-items: center;
            flex-shrink: 0;
            $button-width: 4rem;
            background-color: colors.$color-tertiary;
            width: $button-width;
            margin-right: -1 * $button-width;
            border-radius: 0 1rem 1rem 0;
            transition: margin-right 0.5s;
            i {
                display: grid;
                place-items: center;
                background: white;
                width: 2rem;
                height: 2rem;
                border-radius: 1rem;
                color: colors.$color-tertiary
            }
        }
            &:hover {
            cursor: pointer; 
            .menu-items__check {
            margin-right: 0;
            }
            i {
                @include animations.quarter-spin;
                animation: quarter-spin 0.5s ease-in-out;
                }
            }
        }
    }
}
.order {
    height: 15vh;
    display:grid;
    place-items: center;
    button {
        @include mixins.base-button;
    }
}